@import "tailwindcss";

@layer base {
  body {
    background: #0a0a0a;
    color: #ededed;
  }

  /* https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
