@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  /* https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
